html,body{
    background:#dfdbd8;
}
.top-head{
    font-weight: 700;
    font-size: 30px;
}
.font{
    font-size: 45px;
    font-weight: 700;
    margin-top: 10% 12%;
}
.horizon{
    height: 2px;
    background: black;
    width: 30px;
    margin-top: 10px;
}
.block{
    max-height: 50px;
    max-width: 50px;
}
img .coder{
    height: 100%;
    width: 100%;
    object-fit: 'contain';
}
.floating{
    position: 'absolute';
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 50%;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.floating_1{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 60%;
    z-index: 100px;
}
@keyframes floating_1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.coder{
    max-height: 400px;
    max-width: 500px;
}
.sidebar{
    cursor: pointer;
    z-index: 999;
    right: 0;
    position: fixed;
}
.line1{
    margin-top: 10px;
    height: 1px;
    background: black;
    width: 30px;
}
.line2{
    margin-top: 5px;
    height: 1px;
    background: black;
    width: 25px;
    margin-left: 5px;
}
.line3{
    margin-top: 5px;
    height: 1px;
    background: black;
    width: 30px;
}
.nav-list{
    right: -26rem;
    z-index: 998;
    background-color: #222222;
    position: fixed;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    transition: all 650ms ease-in-out;
}
.nav-list.active {
    right: 0;
  }
@keyframes navLinkAnimate {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
}
.resume{
    font-size: 20px;
    font-weight: 400;
}

.contact{
    background-color: #fffafa;
    box-shadow: 20px;
}

.mail-icon{
    margin-left: 1.7rem;
    width:8%;
    height:20%;
}

.mail-phone{
    background-color: #f9f3f5;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 9.5rem;
}

.fw-200{
    font-weight: 600;
    width:540px;
}

.rounded-lg{
    border-radius: 20px;
}